<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>528919866175-g534lpc1p0huofavdqcd084tq3sdoaa0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.528919866175-g534lpc1p0huofavdqcd084tq3sdoaa0</string>
	<key>API_KEY</key>
	<string>AIzaSyA1-jn9VBKZyPMCQYx1NPURRK8UiGZo_MA</string>
	<key>GCM_SENDER_ID</key>
	<string>528919866175</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.joshuamdeguzman.goinvest</string>
	<key>PROJECT_ID</key>
	<string>goinvest-22b67</string>
	<key>STORAGE_BUCKET</key>
	<string>goinvest-22b67.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:528919866175:ios:3f14c2e9ea23bc142b818a</string>
</dict>
</plist>